@import 'table';
@import 'util';
@import 'font.css';

html {
  height: 100%;
}

body {
  font-family: "Pretendard";
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}


.col2-content {
  margin-left: 2rem;
  flex-grow: 1;
}