/* util */


.block {
  display: block;
}

.container {
  width: 70rem;
  margin: 0 auto;
  padding: 24px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.rest {
  flex-grow: 1;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.jc-between {
  justify-content: space-between;
}

.row-between-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.hide {
  display: none !important;
}

.hide-letter {
  color: transparent !important;
}

.p1 {
  padding: 1rem;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.icon {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: inherit;
  border-radius: 4px;
}

.icon:hover {
  background-color: #eee;
}

.only-print {
  display: none;
}

@media print {
  .no-print {
    display: none !important;
  }

  .only-print {
    display: inherit;
  }
}